<div class="container">
  <h1>My List</h1>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @movie.poster_url %>)">
        <% @lists.each do |list| %>
         <%= list.name %>
        <% end %>
      </div>
    </div>
</div>
